body {
	display: block;
	float: center;
	text-align: center;
	color: black;
	font-size: 12pt;
	margin-top: 10px;
}

h1{
	font-family: 'FonteLogo', sans-serif;
	font-size: 20pt;
	color: #606060;
	text-shadow: 1px 1px 1px rgba(0,0,0,.6);
	padding: 0px;
	margin-bottom: 0px;
}

h2{
	font-family: 'Titillium Web', sans-serif;
	color: #888888;
	font-size: 15pt;
	padding: 0px;
	margin-top: 0px;
}

a{
	display: block;
	color: #606060;
	text-decoration: bold;
	font-size: 14pt;
	margin: 10px 0px 10px 0px;
}

a:hover{
	text-decoration: underline;
}

div{
	display: block;
	float: center;
	margin: 10px 0px 10px 0px;
}

table{
	margin: 0 auto;
	width: 50%;
}

th, td{
	color: black;
	font-size: 12pt;
	border: 1px solid black;
}